<!DOCTYPE html>
<html>
<head> 
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> New query created by <%= @query.name %></h1>

    <p> ID:<%= @query.id %> </p>
    <p>Name:<%= @query.name %></p>
    <p>Email: <%= @query.email %></p>
    <p>Country:<%= @query.fromcountry %></p>
    <p>Company:<%= @query.company %></p>
    <p>Product:<%= @query.product %></p>
    <p>Amount:<%= @query.amount %></p>
    <p>Destination:<%= @query.destination %></p>
    <p>Budget:<%= @query.budget %></p>
    <p>Shipping type:<%= @query.shippingtype %></p>
    <p>Business Name:<%= @query.businessname %></p>
    <p>Order Details:<%= @query.orderdetails %></p>
    <p>1:<%= @query.file1 %></p>
    <p>2:<%= @query.file2 %></p>
    <p>Product info:<%= @query.productinfo %></p>
  </body>
</html>