<h1> <%= params[:search] %>'s Active Queries</h1>
<center>
<table width="800" align="center">
  <tr>
    <th>Query ID</th>
    <th>Country of Origin</th>
    <th>Status</th>
    <th>Representative</th>
    <th>Product</th>
    <th>Destination</th>
    <th>Shipping Type</th>
    <th>Order Details</th>
  </tr>

<% @queries.each do |query| %>
  <tr>
    <td><%= query.id %></td>
    <td><%= query.fromcountry %></td>
    <td><%= query.status %></td>
    <td><%= query.rep %><% if query.rep.empty? do %>Awaiting Representative<%end%></td>
    <td><%= query.product %></td>
    <td><%= query.destination %></td>
    <td><%= query.shippingtype %></td>
    <td><%= query.orderdetails %></td>
  </tr>
<% end %>
</table>
</center>
<br />

<%= link_to 'Home', new_query_path %>
