<table>
  <tr><td width="400"><p><b>Looking for a product? Get a free quote!</b><p>
<%= form_for(@query) do |f| %>
  <% if @query.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@query.errors.count, "error") %> prohibited this query from being saved:</h2>

      <ul>
      <% @query.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
* required fields
  <div class="field">
    *<%= f.label "Contact Name" %>:<br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    *<%= f.label :email %>:<br />
    <%= f.text_field :email %>
  </div>
   <div class="field">
    *<%= f.label "Confirm Email" %>:<br />
    <%= f.text_field :email_confirmation %>
  </div>
    <div class="field">
    <%= f.label "Business Name" %>:<br />
    <%= f.text_field :businessname %>
  </div>
  <div class="field">
    *<%= f.label "Country of Origin" %>:
    <%= f.select :fromcountry, options_for_select([['United States', 'United States']]) %>
  </div>
  <div class="field">
    *<%= f.label :product %>:<br />
    <%= f.text_field :product %>
  </div>
    <div class="field">
    <%= f.label "Manufacturer" %>:<br />
    <%= f.text_field :company %>
  </div>
  <div class="field">
    *<%= f.label :amount %>:<br />
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    *<%= f.label "Destination Port or Address" %>:<br />
    <%= f.text_field :destination %>
  </div>
  <div class="field">
    <%= f.label :budget %>:<br />
    <%= f.text_field :budget %>
  </div>
  <%= f.hidden_field :status, :value => "Recieved, Waiting for Representative" %>
  <div class="field">
    *<%= f.label "Shipping Type" %>:<br />
    <%= f.select :shippingtype, options_for_select([['Air Freight', 'Air Freight'], ['Sea Less than Container', 'Sea Less than Container'], ['20 Foot Container', '20 Foot Container'], ['40 Foot Container', '40 Foot Container']]) %>
  </div>
  <div class="field">
    <%= f.label "Product Information" %>:<br />
    <%= f.text_area :productinfo, :size => "20x4" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</td>
<td width='400'><table border='1' align='center'><tr> <td> Do you need more information or have a question? Contact us at Admin@mercariamerica.com</td> <tr><td> <b>Let us buy for you! We can purchase what you are looking for only $89 and 4.9%*</b> some restrictions may apply<br><br> <b> How it works: </b> </td><tr> <td> Think of what product you want</td><tr> <td> Fill out the form on the right with as much information as possible. </td><tr> <td> Your request will be assinged to an agent who will contact several dealers to get the best price possilbe</td> <tr> <td> You will receive emails with updates and you are happy with the quote we will purchase, condense and export your items </td></center></td>
</table> 
