<h1>Listing queries</h1>
<%= form_tag queries_result_path, :method => 'get' do %>
<br>
<%= select_tag "condition", options_for_select([["Email", "email"],["Representative", "rep"],["Buyer Name", "name"],["Status", "status"], ["Shipping Type", "shippingtype"],["From Country", "fromcountry"]], params[:condition]) %>
<%= text_field_tag :search, params[:search] %>
<%= submit_tag "search", :name=> nil %>
<%end%>
<STYLE TYPE="text/css">
<!--
TD{font-family: Arial; font-size: 10pt;}
--->
</STYLE>
<table width="800">
  <tr>
    <th>Id </th>
    <th>Created </th>
    <th>Email</th>
    <th>Service Country</th>
    <th>Status</th>
    <th>Rep</th>
    <th>Orderdetails</th>
    <th>Language</th>
    <th>Service Type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @queries.each do |query| %>
  <tr>
    <td><%= query.id %></td>
    <td><%= query.created_at %></td>
    <td><%= query.email %></td>
    <td><%= query.fromcountry %></td>
    <td><%= query.status %></td>
    <td><%= query.rep %></td>
    <td><%= query.orderdetails %></td>
    <td><%= query.file1 %></td>
    <td><%= query.file2 %></td>
    <td><%= link_to 'Show', query %></td>
    <td><%= link_to 'Edit', edit_query_path(query) %></td>
    <td><%= link_to 'Destroy', query, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />