<h1>Listing queries</h1>
<%= form_tag queries_result_path, :method => 'get' do %>
<br>

<%end%>
<table width="800">
  <tr>
    <th>Email</th>
    <th>Fromcountry</th>
    <th>Status</th>
    <th>Rep</th>
    <th>Orderdetails</th>
    <th>Language</th>
    <th>Service Type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @queries.each do |query| %>
  <tr>
    <td><%= query.email %></td>
    <td><%= query.fromcountry %></td>
    <td><%= query.status %></td>
    <td><%= query.rep %></td>
    <td><%= query.orderdetails %></td>
    <td><%= query.file1 %></td>
    <td><%= query.file2 %></td>
    <td><%= link_to 'Show', query %></td>
    <td><%= link_to 'Edit', edit_query_path(query) %></td>
    <td><%= link_to 'Destroy', query, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />