<!DOCTYPE html>
<html>
<head>
	<meta name="google-translate-customization" content="1cf6c85fbd846b2e-685f8c7f0d1f0269-gf709cac132099d38-19"></meta>
  <title>Mercari</title>
   <%= stylesheet_link_tag   "queries", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-21893067-4', 'mercariamerica.com');
  ga('send', 'pageview');

</script>

<div id="google_translate_element" style="display: none;"></div><script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.FloatPosition.TOP_LEFT, autoDisplay: false}, 'google_translate_element');
}
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        
	<center>
	<table><tr><td width="300">
<div class="lmaps"><%= link_to "" do %> <%= image_tag "/assets/usa1.png", :width => '40', :height => '26' %></div><%end%>
<div class="lmaps"><%= link_to "http://mercari.herokuapp.com/?param=#googtrans(en|vi)", :target=> "_blank" do %> <%= image_tag "/assets/vietnam1.png", :width => '40', :height => '26' %></div><%end%>
<div class="lmaps"><%= link_to "http://mercari.herokuapp.com/?param=#googtrans(en|pt-BR)", :target=> "_blank" do %> <%= image_tag "/assets/bra.png", :width => '40', :height => '26'%></div><%end%>
<div class="lmaps"><%= link_to "http://mercari.herokuapp.com/?param=#googtrans(en|fr)", :target=> "_blank" do %> <%= image_tag "/assets/fra.png", :width => '40', :height => '26' %></div><%end%>
<div class="lmaps"> <%= link_to "http://mercari.herokuapp.com/?param=#googtrans(en|ar)", :target=> "_blank" do %><%= image_tag "/assets/sau.png", :width => '40', :height => '26' %></div><%end%>
<div class="lmaps"><%= link_to "http://mercari.herokuapp.com/?param=#googtrans(en|it)", :target=> "_blank" do %> <%= image_tag "/assets/ita.png", :width => '40', :height => '26' %></div><%end%>
<div class="lmaps"><%= link_to "http://mercari.herokuapp.com/?param=#googtrans(en|ko)", :target=> "_blank" do %> <%= image_tag "/assets/kor.png", :width => '40', :height => '26' %></div><%end%>

</td>
<td width="400">
 <%= link_to new_query_path do %> <%= image_tag "/assets/banner.gif", :border=>'0', :alt => nil %><%end%>
</td>
<td width="300"><left>
<div class="rmaps"> <%= link_to "http://mercari.herokuapp.com/?param=#googtrans(en|zh-CN)", :target=> "_blank" do %> <%= image_tag "/assets/chi.png", :width => '40', :height => '26' %></div> <%end%>
<div class="rmaps"> <%= link_to "http://mercari.herokuapp.com/?param=#googtrans(en|hi)", :target=> "_blank" do %><%= image_tag "/assets/ind.png", :width => '40', :height => '26' %></div> <%end%>
<div class="rmaps"> <%= link_to "http://mercari.herokuapp.com/?param=#googtrans(en|de)", :target=> "_blank" do %><%= image_tag "/assets/ger.png", :width => '40', :height => '26' %></div><%end%>
<div class="rmaps"> <%= link_to "http://mercari.herokuapp.com/?param=#googtrans(en|ja)", :target=> "_blank" do %><%= image_tag "/assets/jap.png", :width => '40', :height => '26' %></div><%end%>
<div class="rmaps"><%= link_to "http://mercari.herokuapp.com/?param=#googtrans(en|ru)", :target=> "_blank" do %> <%= image_tag "/assets/rus.png", :width => '40', :height => '26' %></div><%end%>
<div class="rmaps"><%= link_to "http://mercari.herokuapp.com/?param=#googtrans(en|es)", :target=> "_blank" do %> <%= image_tag "/assets/spa.png", :width => '40', :height => '26' %></div><%end%>
<div class="rmaps"> <%= link_to "http://mercari.herokuapp.com/?param=#googtrans(en|th)", :target=> "_blank" do %><%= image_tag "/assets/tha.png", :width => '40', :height => '26' %></div><%end%>
</left>
</td>
</table></center>
	<% if session[:user] %>
Welcome you are logged in as: <%= session[:user] %> <%= link_to "Log Out", login_logout_path %>
<%= link_to "queries", queries_search_path %>
<br><br>

<%end%>

<div class="bgimage">
	<%= image_tag "/assets/#{rand(22)}.jpg", :width => "100%" %>
</div>
<center>


 <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
  <div class="main">
  
<%= yield %>
</div>
</center>
</body>
</html>
