<!DOCTYPE html>
<html>
<head>
	<meta name="google-translate-customization" content="1cf6c85fbd846b2e-685f8c7f0d1f0269-gf709cac132099d38-19"></meta>
  <title>Mercari</title>
   <%= stylesheet_link_tag   "queries", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="google_translate_element" style="display: none;"></div><script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.FloatPosition.TOP_LEFT, autoDisplay: false}, 'google_translate_element');
}
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        
	<center>
	<table><tr><td width="300">
<div class="lmaps"><%= link_to "http://mercari.herokuapp.com/?param=#googtrans(sp|en)" do %> <%= image_tag "/assets/usa1.png", :width => '40', :height => '26' %></div><%end%>
<div class="lmaps"><%= link_to "http://mercari.herokuapp.com/?param=#googtrans(en|vi)" do %> <%= image_tag "/assets/vietnam1.png", :width => '40', :height => '26' %></div><%end%>
<div class="lmaps"><%= link_to "http://mercari.herokuapp.com/?param=#googtrans(en|pt-BR)" do %> <%= image_tag "/assets/bra.png", :width => '40', :height => '26'%></div><%end%>
<div class="lmaps"><%= link_to "http://mercari.herokuapp.com/?param=#googtrans(en|fr)" do %> <%= image_tag "/assets/fra.png", :width => '40', :height => '26' %></div><%end%>
<div class="lmaps"> <%= link_to "http://mercari.herokuapp.com/?param=#googtrans(en|ar)" do %><%= image_tag "/assets/sau.png", :width => '40', :height => '26' %></div><%end%>
<div class="lmaps"><%= link_to "http://mercari.herokuapp.com/?param=#googtrans(en|it)" do %> <%= image_tag "/assets/ita.png", :width => '40', :height => '26' %></div><%end%>
<div class="lmaps"><%= link_to "http://mercari.herokuapp.com/?param=#googtrans(en|ko)" do %> <%= image_tag "/assets/kor.png", :width => '40', :height => '26' %></div><%end%>

</td>
<td width="400">
 <%= image_tag "/assets/banner.gif", :border=>'0', :alt => nil %>
</td>
<td width="300"><left>
<div class="rmaps"> <%= link_to "http://mercari.herokuapp.com/?param=#googtrans(en|zh-CN)" do %> <%= image_tag "/assets/chi.png", :width => '40', :height => '26' %></div> <%end%>
<div class="rmaps"> <%= link_to "http://mercari.herokuapp.com/?param=#googtrans(en|hi)" do %><%= image_tag "/assets/ind.png", :width => '40', :height => '26' %></div> <%end%>
<div class="rmaps"> <%= link_to "http://mercari.herokuapp.com/?param=#googtrans(en|de)" do %><%= image_tag "/assets/ger.png", :width => '40', :height => '26' %></div><%end%>
<div class="rmaps"> <%= link_to "http://mercari.herokuapp.com/?param=#googtrans(en|ja)" do %><%= image_tag "/assets/jap.png", :width => '40', :height => '26' %></div><%end%>
<div class="rmaps"><%= link_to "http://mercari.herokuapp.com/?param=#googtrans(en|ru)" do %> <%= image_tag "/assets/rus.png", :width => '40', :height => '26' %></div><%end%>
<div class="rmaps"><%= link_to "http://mercari.herokuapp.com/?param=#googtrans(en|es)" do %> <%= image_tag "/assets/spa.png", :width => '40', :height => '26' %></div><%end%>
<div class="rmaps"> <%= link_to "http://mercari.herokuapp.com/?param=#googtrans(en|th)" do %><%= image_tag "/assets/tha.png", :width => '40', :height => '26' %></div><%end%>
</left>
</td>
</table></center>
	<% if session[:user] %>
Welcome you are logged in as: <%= session[:user] %> <%= link_to "Log Out", login_logout_path %>
<br><br>

<%end%>

<div class="bgimage">
	<%= image_tag "/assets/#{rand(22)}.jpg", :width => "100%" %>
</div>
<center>


 <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
  <div class="main">
  
<%= yield %>
</div>
</center>
</body>
</html>
