<!DOCTYPE html>
<html>
<head>
  <title>Mercari</title>
   <%= stylesheet_link_tag   "queries", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if session[:user] %>
Welcome you are logged in as: <%= session[:user] %> <%= link_to "Log Out", login_logout_path %>
<br><br>

<%end%>
<center>
<%= image_tag "/assets/banner.gif", :border=>'0', :alt => nil %>
<center>
 <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
<%= yield %>

</body>
</html>
