<!DOCTYPE html>
<html>
<head>
  <title>Mercari</title>
   <%= stylesheet_link_tag   "queries", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if session[:user] %>
Welcome you are logged in as: <%= session[:user] %> <%= link_to "Log Out", login_logout_path %>
<br><br>

<%end%>
<div class="lmaps"> <%= image_tag "/assets/usa1.png", :width => '80', :height => '53' %></div>
<div class="lmaps"> <%= image_tag "/assets/vietnam1.png", :width => '80', :height => '53' %></div>
<div class="lmaps"> <%= image_tag "/assets/usa1.png", :width => '80', :height => '53'%></div>
<div class="lmaps"> <%= image_tag "/assets/usa1.png", :width => '80', :height => '53' %></div>
<div class="lmaps"> <%= image_tag "/assets/usa1.png", :width => '80', :height => '53' %></div>
<div class="lmaps"> <%= image_tag "/assets/usa1.png", :width => '80', :height => '53' %></div>
<div class="bgimage">
	<%= image_tag "/assets/#{rand(2)}.jpg", :width => '1500' %>
</div>
<div class="banner" >
<center>
<%= image_tag "/assets/banner.gif", :border=>'0', :alt => nil %>
</center>
</div>
 <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
  <div class="main">
  
<%= yield %>
</div>
</body>
</html>
